*.cf
*.ghw
icecube/icecube_Implmnt
icecube/.vdbs
icecube/*.twr
icecube/*.log
icecube/*.*rep
icecube/xxx_*
icecube/top_prim.v
icecube/icecube_lse.prj
icecube/icecube_sbt.project
icecube/icecube_syn.prj
Prueba/Prueba_syn.prj
Prueba/Prueba_Implmnt/Prueba.scf
Prueba/Prueba_Implmnt/Prueba.srd
Prueba/Prueba_Implmnt/Prueba.srm
Prueba/Prueba_Implmnt/Prueba.srr
Prueba/Prueba_Implmnt/Prueba.srs
Prueba/Prueba_Implmnt/rpt_top_areasrr.htm
Prueba/Prueba_Implmnt/rpt_top.areasrr
Prueba/Prueba_Implmnt/run_options.txt
Prueba/Prueba_Implmnt/scratchproject.prs
Prueba/Prueba_Implmnt/dm/layer0.xdm
Prueba/Prueba_Implmnt/dm/layer1.xdm
Prueba/Prueba_Implmnt/sbt/constraint/top_pcf_sbt.pcf
Prueba/Prueba_Implmnt/sbt/Log/iceCube0.log
Prueba/Prueba_Implmnt/sbt/Log/iceCube1.log
Prueba/Prueba_Implmnt/sbt/Log/iceCube2.log
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/lib.defs
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_ep/.oalib
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_ep/top/%I%N%T%E%R%F%A%C%E/master.tag
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_ep/top/%I%N%T%E%R%F%A%C%E/netlist.oa
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_pk/.oalib
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_pk/top/%I%N%T%E%R%F%A%C%E/master.tag
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_pk/top/%I%N%T%E%R%F%A%C%E/netlist.oa
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_pl/.oalib
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_pl/top/%I%N%T%E%R%F%A%C%E/master.tag
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_pl/top/%I%N%T%E%R%F%A%C%E/netlist.oa
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_rr/.oalib
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_rr/top/%I%N%T%E%R%F%A%C%E/master.tag
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_rr/top/%I%N%T%E%R%F%A%C%E/netlist.oa
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_rt/.oalib
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_rt/top/%I%N%T%E%R%F%A%C%E/master.tag
Prueba/Prueba_Implmnt/sbt/netlist/oadb-top/BFPGA_DESIGN_rt/top/%I%N%T%E%R%F%A%C%E/netlist.oa
Prueba/Prueba_Implmnt/sbt/outputs/top_sbt.rpt
Prueba/Prueba_Implmnt/sbt/outputs/bitmap/top_bitmap_glb.txt
Prueba/Prueba_Implmnt/sbt/outputs/bitmap/top_bitmap_int.hex
Prueba/Prueba_Implmnt/sbt/outputs/bitmap/top_bitmap.bin
Prueba/Prueba_Implmnt/sbt/outputs/bitmap/top_bitmap.hex
Prueba/Prueba_Implmnt/sbt/outputs/bitmap/top_bitmap.nvcm
Prueba/Prueba_Implmnt/sbt/outputs/gui/Prueba_top_timingviewer.cfg
Prueba/Prueba_Implmnt/sbt/outputs/netlister/top_sbt.sdc
Prueba/Prueba_Implmnt/sbt/outputs/packer/top_cell_sbt.pcf
Prueba/Prueba_Implmnt/sbt/outputs/packer/top_info.log
Prueba/Prueba_Implmnt/sbt/outputs/packer/top_io_pcf.log
Prueba/Prueba_Implmnt/sbt/outputs/packer/top_lgc_sbt.pcf
Prueba/Prueba_Implmnt/sbt/outputs/packer/top_pack.rpt
Prueba/Prueba_Implmnt/sbt/outputs/packer/top_pin_table.CSV
Prueba/Prueba_Implmnt/sbt/outputs/packer/top_pk.sdc
Prueba/Prueba_Implmnt/sbt/outputs/placer/packing_clustering.result
Prueba/Prueba_Implmnt/sbt/outputs/placer/placer.log
Prueba/Prueba_Implmnt/sbt/outputs/placer/top_pl.sdc
Prueba/Prueba_Implmnt/sbt/outputs/placer/top_sbt.edf
Prueba/Prueba_Implmnt/sbt/outputs/placer/top_sbt.pcf
Prueba/Prueba_Implmnt/sbt/outputs/placer/top_sjpl.sdc
Prueba/Prueba_Implmnt/sbt/outputs/router/cascad_info.txt
Prueba/Prueba_Implmnt/sbt/outputs/router/top_router.rpt
Prueba/Prueba_Implmnt/sbt/outputs/router/top.route
Prueba/Prueba_Implmnt/sbt/outputs/router/top.rt_log
Prueba/Prueba_Implmnt/sbt/outputs/simulation_netlist/top_sbt_vital.sdf
Prueba/Prueba_Implmnt/sbt/outputs/simulation_netlist/top_sbt.sdf
Prueba/Prueba_Implmnt/sbt/outputs/simulation_netlist/top_sbt.v
Prueba/Prueba_Implmnt/sbt/outputs/simulation_netlist/top_sbt.vhd
Prueba/Prueba_Implmnt/sbt/outputs/timer/top_timing.rpt
Prueba/Prueba_Implmnt/sbt/Temp/sbt_temp.sdc
Prueba/Prueba_Implmnt/synlog/layer0.tlg.rptmap
Prueba/Prueba_Implmnt/synlog/layer1.tlg.rptmap
Prueba/Prueba_Implmnt/synlog/linkerlog.rptmap
Prueba/Prueba_Implmnt/synlog/Prueba_compiler.srr
Prueba/Prueba_Implmnt/synlog/Prueba_compiler.srr.rptmap
Prueba/Prueba_Implmnt/synlog/Prueba_fpga_mapper.srr
Prueba/Prueba_Implmnt/synlog/Prueba_fpga_mapper.szr
Prueba/Prueba_Implmnt/synlog/Prueba_fpga_mapper.xck
Prueba/Prueba_Implmnt/synlog/Prueba_multi_srs_gen.srr
Prueba/Prueba_Implmnt/synlog/Prueba_premap.srr
Prueba/Prueba_Implmnt/synlog/Prueba_premap.szr
Prueba/Prueba_Implmnt/synlog/syntax_constraint_check.rpt.rptmap
Prueba/Prueba_Implmnt/synlog/report/Prueba_compiler_notes.txt
Prueba/Prueba_Implmnt/synlog/report/Prueba_compiler_runstatus.xml
Prueba/Prueba_Implmnt/synlog/report/Prueba_compiler_warnings.txt
Prueba/Prueba_Implmnt/synlog/report/Prueba_fpga_mapper_area_report.xml
Prueba/Prueba_Implmnt/synlog/report/Prueba_fpga_mapper_combined_clk.rpt
Prueba/Prueba_Implmnt/synlog/report/Prueba_fpga_mapper_errors.txt
Prueba/Prueba_Implmnt/synlog/report/Prueba_fpga_mapper_notes.txt
Prueba/Prueba_Implmnt/synlog/report/Prueba_fpga_mapper_opt_report.xml
Prueba/Prueba_Implmnt/synlog/report/Prueba_fpga_mapper_resourceusage.rpt
Prueba/Prueba_Implmnt/synlog/report/Prueba_fpga_mapper_runstatus.xml
Prueba/Prueba_Implmnt/synlog/report/Prueba_fpga_mapper_timing_report.xml
Prueba/Prueba_Implmnt/synlog/report/Prueba_fpga_mapper_warnings.txt
Prueba/Prueba_Implmnt/synlog/report/Prueba_premap_errors.txt
Prueba/Prueba_Implmnt/synlog/report/Prueba_premap_notes.txt
Prueba/Prueba_Implmnt/synlog/report/Prueba_premap_runstatus.xml
Prueba/Prueba_Implmnt/synlog/report/Prueba_premap_warnings.txt
Prueba/Prueba_Implmnt/syntmp/closed.png
Prueba/Prueba_Implmnt/syntmp/cmdrec_compiler.log
Prueba/Prueba_Implmnt/syntmp/cmdrec_fpga_mapper.log
Prueba/Prueba_Implmnt/syntmp/cmdrec_multi_srs_gen.log
Prueba/Prueba_Implmnt/syntmp/cmdrec_premap.log
Prueba/Prueba_Implmnt/syntmp/open.png
Prueba/Prueba_Implmnt/syntmp/Prueba_srr.htm
Prueba/Prueba_Implmnt/syntmp/Prueba_toc.htm
Prueba/Prueba_Implmnt/syntmp/Prueba.plg
Prueba/Prueba_Implmnt/syntmp/run_option.xml
Prueba/Prueba_Implmnt/syntmp/statusReport.html
Prueba/Prueba_Implmnt/synwork/_mh_info
Prueba/Prueba_Implmnt/synwork/_verilog_hintfile
Prueba/Prueba_Implmnt/synwork/.cckTransfer
Prueba/Prueba_Implmnt/synwork/.complist
Prueba/Prueba_Implmnt/synwork/layer0.fdep
Prueba/Prueba_Implmnt/synwork/layer0.fdeporig
Prueba/Prueba_Implmnt/synwork/layer0.srs
Prueba/Prueba_Implmnt/synwork/layer0.tlg
Prueba/Prueba_Implmnt/synwork/layer1.fdep
Prueba/Prueba_Implmnt/synwork/layer1.fdepxmr
Prueba/Prueba_Implmnt/synwork/layer1.info
Prueba/Prueba_Implmnt/synwork/layer1.srs
Prueba/Prueba_Implmnt/synwork/layer1.tlg
Prueba/Prueba_Implmnt/synwork/Prueba_comp.fdep
Prueba/Prueba_Implmnt/synwork/Prueba_comp.linkerlog
Prueba/Prueba_Implmnt/synwork/Prueba_comp.srs
Prueba/Prueba_Implmnt/synwork/Prueba_m.srm
Prueba/Prueba_Implmnt/synwork/Prueba_mult.srs
Prueba/Prueba_Implmnt/synwork/Prueba_prem.fse
Prueba/Prueba_Implmnt/synwork/Prueba_prem.srd
Prueba/Prueba_Implmnt/synwork/Prueba_m_srm/1.srm
Prueba/Prueba_Implmnt/synwork/Prueba_m_srm/fileinfo.srm
Prueba/Prueba_Implmnt/synwork/Prueba_mult_srs/1.srs
Prueba/Prueba_Implmnt/synwork/Prueba_mult_srs/fileinfo.srs
Prueba/Prueba_Implmnt/synwork/Prueba_mult_srs/skeleton.srs
icecube/icecube_lse.prj
icecube/icecube_sbt.project
icecube/icecube_syn.prj
Prueba/Prueba_sbt.project
Prueba/stdout.log
Prueba/stdout.log.bak
Prueba/synlog.tcl
Prueba/Prueba_Implmnt/.recordref
Prueba/Prueba_Implmnt/AutoConstraint_top.sdc
Prueba/Prueba_Implmnt/Prueba_cck.rpt
Prueba/Prueba_Implmnt/Prueba_scck.rpt
Prueba/Prueba_Implmnt/Prueba_synplify.fdc
Prueba/Prueba_Implmnt/Prueba_XXXXXOLD.edf
Prueba/Prueba_Implmnt/Prueba_XXXXXOLD.scf
Prueba/Prueba_Implmnt/Prueba.edf
Prueba/Prueba_Implmnt/Prueba.fse
Prueba/Prueba_Implmnt/Prueba.htm
Prueba/Prueba_Implmnt/Prueba.map
Prueba/Prueba_Implmnt/Prueba.sap
icecube/icecube_lse.prj
icecube/icecube_sbt.project
icecube/icecube_syn.prj
conf_2.xcf
